# NHL Data :: Summary

This notebook provides a brief summary of the data used in the project.

In [13]:
import numpy as np
import pandas as pd

pbp_df = pd.read_csv('/Users/dB/Documents/repos/github/hacklytics-nhl-dashboard/.data/nhl_pbp20192020.csv')
shifts_df = pd.read_csv('/Users/dB/Documents/repos/github/hacklytics-nhl-dashboard/.data/nhl_shifts20192020.csv')
roster_df = pd.read_csv('/Users/dB/Documents/repos/github/hacklytics-nhl-dashboard/.data/roster20192020.csv')

In [10]:
pbp_df.head()

,Game_Id,Date,Period,Event,Description,Time_Elapsed,Seconds_Elapsed,Strength,Ev_Zone,Type,...,Away_Score,Home_Score,Away_Goalie,Away_Goalie_Id,Home_Goalie,Home_Goalie_Id,xC,yC,Home_Coach,Away_Coach
0,20001,2019-10-02,1,PSTR,Period Start- Local time: 7:13 EDT,0:00,0.0,5x5,NaN,NaN,...,0,0,CRAIG ANDERSON,8467950.0,FREDERIK ANDERSEN,8475883.0,NaN,NaN,MIKE BABCOCK,D.J. SMITH
1,20001,2019-10-02,1,FAC,TOR won Neu. Zone - OTT #36 WHITE vs TOR #91 T...,0:00,0.0,5x5,Neu,NaN,...,0,0,CRAIG ANDERSON,8467950.0,FREDERIK ANDERSEN,8475883.0,0.0,0.0,MIKE BABCOCK,D.J. SMITH
2,20001,2019-10-02,1,GOAL,"OTT #7 TKACHUK(1), Tip-In, Off. Zone, 4 ft.Ass...",0:25,25.0,5x5,Off,TIP-IN,...,0,0,CRAIG ANDERSON,8467950.0,FREDERIK ANDERSEN,8475883.0,85.0,-1.0,MIKE BABCOCK,D.J. SMITH
3,20001,2019-10-02,1,FAC,OTT won Neu. Zone - OTT #71 TIERNEY vs TOR #88...,0:25,25.0,5x5,Neu,NaN,...,1,0,CRAIG ANDERSON,8467950.0,FREDERIK ANDERSEN,8475883.0,0.0,0.0,MIKE BABCOCK,D.J. SMITH
4,20001,2019-10-02,1,MISS,"OTT #22 ZAITSEV, Slap, Wide of Net, Neu. Zone,...",0:38,38.0,5x5,Neu,SLAP SHOT,...,1,0,CRAIG ANDERSON,8467950.0,FREDERIK ANDERSEN,8475883.0,28.0,-37.0,MIKE BABCOCK,D.J. SMITH

In [17]:
print(pbp_df.columns.to_list())

['Game_Id', 'Date', 'Period', 'Event', 'Description', 'Time_Elapsed', 'Seconds_Elapsed', 'Strength', 'Ev_Zone', 'Type', 'Ev_Team', 'Home_Zone', 'Away_Team', 'Home_Team', 'p1_name', 'p1_ID', 'p2_name', 'p2_ID', 'p3_name', 'p3_ID', 'awayPlayer1', 'awayPlayer1_id', 'awayPlayer2', 'awayPlayer2_id', 'awayPlayer3', 'awayPlayer3_id', 'awayPlayer4', 'awayPlayer4_id', 'awayPlayer5', 'awayPlayer5_id', 'awayPlayer6', 'awayPlayer6_id', 'homePlayer1', 'homePlayer1_id', 'homePlayer2', 'homePlayer2_id', 'homePlayer3', 'homePlayer3_id', 'homePlayer4', 'homePlayer4_id', 'homePlayer5', 'homePlayer5_id', 'homePlayer6', 'homePlayer6_id', 'Away_Players', 'Home_Players', 'Away_Score', 'Home_Score', 'Away_Goalie', 'Away_Goalie_Id', 'Home_Goalie', 'Home_Goalie_Id', 'xC', 'yC', 'Home_Coach', 'Away_Coach']

In [11]:
shifts_df.head()

,Game_Id,Period,Team,Player,Player_Id,Start,End,Duration,Date
0,20001,1,OTT,CRAIG ANDERSON,8467950,0.0,1200.0,1200.0,2019-10-02
1,20001,1,OTT,RON HAINSEY,8468493,0.0,25.0,25.0,2019-10-02
2,20001,1,TOR,JOHN TAVARES,8475166,0.0,25.0,25.0,2019-10-02
3,20001,1,TOR,FREDERIK ANDERSEN,8475883,0.0,51.0,51.0,2019-10-02
4,20001,1,TOR,MORGAN RIELLY,8476853,0.0,25.0,25.0,2019-10-02

In [14]:
roster_df.head()

    # Pos               Name  Scratches     game_id
0   8   D        JAKE MUZZIN      False  2019020001
1  15   C  ALEXANDER KERFOOT      False  2019020001
2  16   C    MITCHELL MARNER      False  2019020001
3  18   L   ANDREAS JOHNSSON      False  2019020001
4  24   R    KASPERI KAPANEN      False  2019020001